@use "./../../shared/styles/variables" as *;

.photoWrapper {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  isolation: isolate;
  will-change: transform;

  @media (min-width: $breakpoint-md) {
    width: 400px;
    height: 400px;
  }

  .photoImage {
    object-fit: cover;
    object-position: right 20%;
  }
}