@use "@/shared/styles/variables" as *;

.header {
  position: fixed;
  left: 50%;
  z-index: 1000;
  width: 100%;
  transform: translateX(-50%);
  background-color: #35323268;
  box-shadow: 0 0 10px 5px #35323268;
}

.header__content {
  margin: 0 auto;
  padding: 16px 32px;
  max-width: 1200px;

  @media (min-width: $breakpoint-md) {
    padding: 20px 60px
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logoLink {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}