@use "@/shared/styles/variables" as *;


.certificates__title {
  font-size: 35px;
}

.certificates__list {
  display: flex;
}

.certificates__item {
  flex: 1 0 50%;
  display: flex;
  justify-content: center;
  min-width: 0;

  @media (min-width: 768px) {
    flex: 1 0 33.3333%;
  }

  @media (min-width: 1024px) {
    flex: 1 0 25%;
  }
}