$font-main: var(--font-mono);
$font-ui: var(--font-sans);

// $imp-text-color: #c663f9;
$imp-text-color: #2e6ce7;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;