@use "@/shared/styles/variables" as *;

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 140px 40px 132px;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;

  @media (min-width: $breakpoint-md) {
    padding: 180px 70px 132px;
  }
}

.contacts__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contacts__title {
  font-size: 35px;
  text-align: center;
}