@use "@/shared/styles/variables" as *;

.page {
  display: flex;
  justify-content: center;
}

.main {
  max-width: 1100px;
  width: 100%;
  padding: 120px 60px;
}

.accent {
  color: $imp-text-color;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 120px;

  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.hero__greeting {
  display: block;
  width: 420px;
}

.hero__title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 30px;
}

.hero__introducing {
  font-size: 35px;
  margin-bottom: 30px;
}

.hero__line-wrapper {
  font-size: 20px;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.about__title {
  font-size: 35px;
  margin-bottom: 30px;
}

.about__text {
  font-size: 20px;
  text-indent: 20px;
}

.constacts__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
}

.contacts__title {
  margin-bottom: 30px;
  font-size: 35px;
  text-align: center;
}

.contacts__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px
}

.contacts__link {
  &:hover {
    color: $imp-text-color;
  }

  &:active {
    opacity: 0.7;
  }
}